@model Wedding_Vibes.Models.MenuVM.MenuVM

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Edit Menu";
}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <p>
                <a asp-action="Create" class="btn btn-default" role="button">Create New</a>
            </p>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    @ViewData["Title"]
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <form asp-action="Edit" id="edit_form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SelectedItems" class="control-label"></label>
                                    <select asp-for="SelectedItems" asp-items="ViewBag.MenuList" id="menuItems" class="form-control"></select>
                                    <span asp-validation-for="SelectedItems" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="pull-right" style="float: right">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                   
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('#menuItems').multiselect();
        });
    </script>
}